@tailwind base;
@tailwind components;
@tailwind utilities;

.card-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.card a {
  color: black;
  text-decoration: none;
}

.card h3 {
  font-size: 24px;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.nav-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

